html, body{
width: 100%;
margin: 0;
padding: 0;
background-color: #5A121B;
font-family: 'Anton', sans-serif;
}
.container{
  text-align: center;
}
.image{
margin-top: 100px;
}

a{
color: black;
  text-decoration: none;
  font-size: 35px;
  -webkit-transition: all 0.5s;
}

a:hover{
  text-decoration: none;
  color: grey;
-webkit-transition: all 0.5s;
font-size: 50px;
}
.active{
  color: #000000
}
.nav{



}

.nav-link{
display: inline-block;
padding: 25px;

}
.image1{
width: 300px;

}
.image3{
  width: 300px;
}

table {
width: 60%;
margin-left: 20%;
margin-right: 20%;
}
.image4{
  width: 500px
}
